<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head"></head>

<body>
<div th:replace="/layout :: header"></div>
<div class="container-fluid menu-navbar">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/admin}">Trang chủ</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/admin/listuser}">Back to list user</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                           name="regex" th:value="${regex}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
</div>



<div class="container">

    <table id = "customers">
        <thead>
        <tr>
            <th>Mã hóa đơn</th>
            <th>Tên khách hàng</th>
            <th>Ngày tạo</th>
            <th>Tổng tiền</th>
            <th>Xem chi tiết</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.getId()}"></td>
            <td th:text="${order.getAccountuser()}"></td>
            <td th:text="${order.getDateCreated()}"></td>
            <td th:text="${order.getTotalPrice()}"></td>
            <td><a th:href="@{/admin/billdetail/{id}(id=${order.getId()})}">View</a></td>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 product"></div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 product">
            <a role="button" class="btn btn-primary" th:href="@{'/admin/bill'(page=${orders.number - 1},regex=${regex})}" th:if="${orders.hasPrevious()}">Previous</a>
            <span th:text="${orders.number + 1}"></span>/<span th:text="${orders.totalPages}"></span>
            <a role="button" class="btn btn-primary" th:href="@{'/admin/bill'(page=${orders.number + 1},regex=${regex})}" th:if="${orders.hasNext()}">Next</a>
        </div>
    </div>
</div>


<footer th:replace="/layout :: footer"></footer>
</body>
</html>