<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<div th:replace="/layout :: header"></div>

<div class="container-fluid menu-navbar">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/user/view}">
                            Back to user information</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 product">
            <div class="block-image-product" style="position: relative">
                <img th:src="@{'/content/' + ${user.getAvatar()}}" class="img-responsive img-thumbnail" alt="không có"
                     width="600px" height="600px">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 product">
            <th:block th:if="${message}">
                <p th:text="${message}"></p>
            </th:block>
            <div id="form">
                <form th:action="@{/user/password}" th:object="${user} " method="POST">
                    <table>
                        <tr>
                            <td>
                                UserName
                            </td>
                            <td>
                                <input type="text" disabled th:field="*{account}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Password
                            </td>
                            <td>
                                <input type="password" name="pass"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                NewPassword
                            </td>
                            <td>
                                <input type="password"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ReNewPassword
                            </td>
                            <td>
                                <input type="password" name="newpass"/>
                            </td>
                        </tr>
                    </table>
                    <input type="submit" value="Change your password">
                </form>
            </div>
        </div>
    </div>
</div>


<footer th:replace="/layout :: footer"></footer>
</body>
</html>