<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<div th:replace="/layout :: header"></div>
<div class="container-fluid menu-navbar">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/user}">Trang chủ</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 product">
            <div class="block-image-product" style="position: relative">
                <img th:src="@{'/content/' + ${product.getAvatar()}}" class="img-responsive img-thumbnail"
                     alt="không có"
                     width="600px" height="600px">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 product">
            <div class="cusdetail">
                <h4>
                    <label>Name:</label>
                    <label th:text="${product.getName()} "></label>
                </h4>
            </div>
            <div class="cusdetail">
                <h4>
                    <label>Price:</label>
                    <label th:text="${product.getPrice()}+' VNĐ' "></label>
                </h4>
            </div>
            <div class="cusdetail">
                <h4>
                    <label>Description:</label>
                </h4>
                <label th:text="${product.getDescription()}"></label>
            </div>
            <div>
                <a role="button" class="btn btn-primary"
                   th:onclick="'$(this).click(buy(\'' + ${product.getId()} +'\'))'">BUY NOW</a>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <hr>
    <br>
    <div class="row">
        <div class="col-12 product">
            <div class="commentContainer" style="overflow: auto">
                <div id="container-wrapper">
                    <form id="form-container" action="" method="post" th:object="${newComment}" class="form-comment">
                        <div class="form-group">
                            <textarea th:name="*{content}" class="form-control" rows="3"
                                      placeholder="What's happening?" id="input-textarea"></textarea>
                            <small class="form-text text-muted"> <span id="input-characters">0</span>/140 characters</small>
                        </div>
                        <button class="compose"
                                th:onclick="'submitComment(\'' + ${product.id} +'\',\''+${user.id} + '\')'"
                                type="button">
                            Comment

                        </button>
                        <input type="hidden" th:id="'name' + ${product.id} +${user.id}" th:value="${user.name}" name="name">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 product">
            <article th:id="'article-container-'+${comment.id}" th:each="comment: ${commentPage}">
                <header>
                    <h4 th:text="${comment.userInfo.name}"></h4>
                </header>
                <blockquote th:text="${comment.content}" th:id="'comment-content'+${comment.id}">
                </blockquote>
                <hr>
            </article>
        </div>
    </div>
</div>


<footer th:replace="/layout :: footer"></footer>

</body>
</html>