<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head"></head>

<body>
<div th:replace="/layout :: header"></div>

<div class="container-fluid menu-navbar">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/cart/clear">Hủy đơn hàng</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/cart/save">Thanh toán đơn hàng</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/user">Continue Buy</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<table id="customers">
    <thead id="content">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Avatar</th>
        <th>Description</th>
        <th>Type</th>
        <th colspan="3" style="text-align: center">Quality</th>
        <th>Total</th>
        <th>Xóa</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${session.cart}">
        <td th:id="name" th:text="${item.product.getName()}"></td>
        <td th:text="${item.product.getPrice()}"></td>
        <td><img th:src="@{'/content/' + ${item.product.getAvatar()}}" width="100" height="100" alt="Khongcoanh"/></td>
        <td th:text="${item.product.getDescription()}"></td>
        <td th:text="${item.product.typeProduct.getType()}"></td>
        <!--<td><a role="button" th:href="@{/cart/update/{id}(id=${item.product.getId()},name='down')}">Bớt</a></td>-->
        <td>
            <button th:onclick="'$(this).click(update(\'' + ${item.product.getId()} +'\',\''+ 'down' + '\'))'">Down
            </button>
        </td>
        <td id="quality" th:text="${item.quantity}"></td>
        <td>
            <button th:onclick="'$(this).click(update(\'' + ${item.product.getId()} +'\',\''+ 'up' + '\'))'">Up</button>
        </td>
        <!--<td><a role="button" th:href="@{/cart/update/{id}(id=${item.product.getId()},name='up')}">Thêm</a></td>-->
        <td id="price" th:text="${item.quantity*item.product.getPrice()}"></td>
        <td><a th:href="@{/cart/remove/{id}(id=${item.product.getId()})}">Xóa</a></td>
    </tr>
    <tr>
        <td colspan="9">Total:</td>
        <td id="total" th:text="${total}"></td>
    </tr>
    </tbody>
</table>



<footer th:replace="/layout :: footer"></footer>
</body>
</html>